<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class X - Bharat Jyoti Vidyalaya</title>
</head>
<body>
    <h1>Class X- Final Exam Marks</h1>
    <ul>
        <li>Marks of Ayush is {{Marks['Ayush']}}</li>
        <li>Marks of Khushi is {{Marks['Khushi']}}</li>
        <li>Marks of Kanha is {{Marks['Kanha']}}</li>
        <li>Marks of Shraddha is {{Marks['Shraddha']}}</li>
        <li>Marks of Omi is {{Marks['Omi']}}</li>
        <li>Marks of Puchku is {{Marks['Puchku']}}</li>
    </ul>
</body>
</html>