<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL_for</title>
    <!-- <link rel="stylesheet" href="static/anotherstyle.css" {#We do this normally but if we don't konw the ;ocation of css file or exact path then we can do like this#} -->
     <link rel="stylesheet" href="{{ url_for('static', filename='anotherstyle.css')}}">
</head>
<body>
    <p>Barish ho rahi bahar aur mai kamre me akela. andhera bada zalim hujhe sone nahi de raha. Do ghante se likhne ki mai koshish hi kar raha hu, apne ghar ke ander ghar bana kr baitha hu mai mera.</p>   
</body>
</html>