<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form- Collect Email I'd</title>
</head>
<body>
    <h1>Form to collect Mail id of Students</h1>
    <h2>Please fill the form given below</h2>
    <div>
    <form action="/" method="post">
        <input name= "name" type="text" placeholder="Enter your name">
        <input name="email" type="email" placeholder="Enter your Email I'd">
        <input type="submit" value="Submit">
        
    </form> 
    </div>
</body>
</html>